#!/bin/bash
TARGET="{{ mirror.target }}"
LOCK="{{ mirror.lock }}"
SOURCE_URL="{{ mirror.source_url }}"
LASTUPDATE_URL="{{ mirror.lastupdate_url }}"
LASTUPDATE_FILE="{{ mirror.lastupdate_file }}"
LOGDIR="{{ mirror.logdir }}"
LOGFILE="$LOGDIR/mirrorsync.log"
LOGCYCLE={{ mirror.logcycle }}
RSYNC_OPTIONS=(
	-rlptH
	--safe-links
	--delete-delay
	--delay-updates
	--timeout={{ mirror.timeout }}
	--contimeout={{ mirror.contimeout }}
	--no-motd
{% for opt in mirror.rsync_options %}
	{{ opt }}
{% endfor %}
)

log() {
	echo "$(date '+%Y-%m-%d %H:%M:%S') $(basename "$0")[$$]: $1"
}

rsync_cmd() {
	[[ -z "$3" ]] || RSYNC_OPTIONS+=("$3")
	log "run rsync ${RSYNC_OPTIONS[*]}"
	rsync "${RSYNC_OPTIONS[@]}" "$1" "$2"
	log "rsync exit code: $?"
}

exec >> $LOGFILE

trap 'rm -f "$LOCK" &>/dev/null && savelog -c $LOGCYCLE -n "$LOGFILE" &>/dev/null' EXIT

exec 9>"${LOCK}"
if ! flock -n 9; then
	trap - EXIT
	log "exit due to running sync"
	exit 1
fi

if [[ -f "$LASTUPDATE_FILE" ]]; then
	if diff -b <(curl -Ls "$LASTUPDATE_URL") "$LASTUPDATE_FILE" >/dev/null; then
		log "exit due to no updates"
		exit 0
	fi
fi

{% if mirror.prescript %}
{{ mirror.prescript }}

{% endif %}
rsync_cmd "$SOURCE_URL" "$TARGET" -v
{% if mirror.postscript %}

{{ mirror.postscript }}
{% endif %}

log "done"
