#!/bin/bash
TARGET="{{ archlinux_target }}"
LOCK="{{ archlinux_lock }}"
SOURCE_URL="{{ archlinux_source_url }}"
LASTUPDATE_URL="{{ archlinux_lastupdate_url }}"
LOGDIR="{{ archlinux_logdir }}"
LOGFILE="$LOGDIR/mirrorsync.log"
LOGCYCLE={{ archlinux_logcycle }}
RSYNC_OPTIONS=(
	-rlptH
	--safe-links
	--delete-delay
	--delay-updates
	--timeout={{ archlinux_timeout }}
	--contimeout={{ archlinux_contimeout }}
	--no-motd
{% for opt in archlinux_rsync_options %}
	{{ opt }}
{% endfor %}
)

log() {
	echo "$(date '+%Y-%m-%d %H:%M:%S') $(basename "$0")[$$]: $1"
}

rsync_cmd() {
	[[ -z "$3" ]] || RSYNC_OPTIONS+=("$3")
	log "run rsync ${RSYNC_OPTIONS[*]}"
	rsync "${RSYNC_OPTIONS[@]}" "$1" "$2"
	log "rsync exit code: $?"
}

exec >> $LOGFILE

trap 'rm -f "$LOCK" &>/dev/null && savelog -c $LOGCYCLE -n "$LOGFILE" &>/dev/null' EXIT

exec 9>"${LOCK}"
if ! flock -n 9; then
	log "exit due to running sync"
	exit 1
fi

if [[ -f "$TARGET/lastupdate" ]]; then
	if diff -b <(curl -Ls "$LASTUPDATE_URL") "$TARGET/lastupdate" >/dev/null; then
		rsync_cmd "$SOURCE_URL/lastsync" "$TARGET/lastsync"
		log "exit due to no updates"
		exit 0
	fi
fi

rsync_cmd "$SOURCE_URL" "$TARGET" -v

log "done"
