{% if debian_archive_mirrorname is defined %}
MIRRORNAME={{ debian_archive_mirrorname }}
{% endif %}
{% if debian_archive_to is defined %}
TO={{ debian_archive_to }}
{% endif %}
{% if debian_archive_mailto is defined %}
MAILTO={{ debian_archive_mailto }}
{% endif %}
{% if debian_archive_hub is defined %}
HUB={{ debian_archive_hub | lower }}
{% endif %}
{% if debian_archive_rsync_host is defined %}
RSYNC_HOST={{ debian_archive_rsync_host }}
{% endif %}
{% if debian_archive_rsync_path is defined %}
RSYNC_PATH={{ debian_archive_rsync_path }}
{% endif %}
{% if debian_archive_rsync_user is defined %}
RSYNC_USER={{ debian_archive_rsync_user }}
{% endif %}
{% if debian_archive_rsync_password is defined %}
RSYNC_PASSWORD={{ debian_archive_rsync_password }}
{% endif %}
{% if debian_archive_rsync_transport is defined %}
RSYNC_TRANSPORT={{ debian_archive_rsync_transport }}
{% endif %}
{% if debian_archive_rsync_ssl_port is defined %}
RSYNC_SSL_PORT={{ debian_archive_rsync_ssl_port }}
{% endif %}
{% if debian_archive_rsync_ssl_capath is defined %}
RSYNC_SSL_CAPATH={{ debian_archive_rsync_ssl_capath }}
{% endif %}
{% if debian_archive_rsync_ssl_method is defined %}
RSYNC_SSL_METHOD={{ debian_archive_rsync_ssl_method }}
{% endif %}
{% if debian_archive_rsync_proxy is defined %}
RSYNC_PROXY={{ debian_archive_rsync_proxy }}
{% endif %}
{% if debian_archive_info_maintainer is defined %}
INFO_MAINTAINER={{ debian_archive_info_maintainer }}
{% endif %}
{% if debian_archive_info_sponsor is defined %}
INFO_SPONSOR={{ debian_archive_info_sponsor }}
{% endif %}
{% if debian_archive_info_country is defined %}
INFO_COUNTRY={{ debian_archive_info_country }}
{% endif %}
{% if debian_archive_info_location is defined %}
INFO_LOCATION={{ debian_archive_info_location }}
{% endif %}
{% if debian_archive_info_throughput is defined %}
INFO_THROUGHPUT={{ debian_archive_info_throughput }}
{% endif %}
{% if debian_archive_arch_include is defined %}
ARCH_INCLUDE={{ debian_archive_arch_include }}
{% endif %}
{% if debian_archive_arch_exclude is defined %}
ARCH_EXCLUDE={{ debian_archive_arch_exclude }}
{% endif %}
{% if debian_archive_exclude is defined %}
EXCLUDE={{ debian_archive_exclude }}
{% endif %}
{% if debian_archive_logdir is defined %}
LOGDIR={{ debian_archive_logdir }}
{% endif %}
{% if debian_archive_log is defined %}
LOG={{ debian_archive_log }}
{% endif %}
{% if debian_archive_errorsonly is defined %}
ERRORSONLY={{ debian_archive_errorsonly | lower }}
{% endif %}
{% if debian_archive_fulllogs is defined %}
FULLLOGS={{ debian_archive_fulllogs | lower }}
{% endif %}
{% if debian_archive_logrotate is defined %}
LOGROTATE={{ debian_archive_logrotate }}
{% endif %}
{% if debian_archive_locktimeout is defined %}
LOCKTIMEOUT={{ debian_archive_locktimeout }}
{% endif %}
{% if debian_archive_uipsleep is defined %}
UIPSLEEP={{ debian_archive_uipsleep }}
{% endif %}
{% if debian_archive_uipretries is defined %}
UIPRETRIES={{ debian_archive_uipretries }}
{% endif %}
{% if debian_archive_tracehost is defined %}
TRACEHOST={{ debian_archive_tracehost }}
{% endif %}
{% if debian_archive_rsync is defined %}
RSYNC={{ debian_archive_rsync }}
{% endif %}
{% if debian_archive_rsync_extra is defined %}
RSYNC_EXTRA={{ debian_archive_rsync_extra }}
{% endif %}
{% if debian_archive_rsync_bw is defined %}
RSYNC_BW={{ debian_archive_rsync_bw }}
{% endif %}
{% if debian_archive_rsync_options is defined %}
RSYNC_OPTIONS={{ debian_archive_rsync_options }}
{% endif %}
{% if debian_archive_rsync_options1 is defined %}
RSYNC_OPTIONS1={{ debian_archive_rsync_options1 }}
{% endif %}
{% if debian_archive_rsync_options2 is defined %}
RSYNC_OPTIONS2={{ debian_archive_rsync_options2 }}
{% endif %}
{% if debian_archive_callbackuser is defined %}
CALLBACKUSER={{ debian_archive_callbackuser }}
{% endif %}
{% if debian_archive_callbackhost is defined %}
CALLBACKHOST={{ debian_archive_callbackhost }}
{% endif %}
{% if debian_archive_callbackkey is defined %}
CALLBACKKEY={{ debian_archive_callbackkey }}
{% endif %}
{% if debian_archive_hook1 is defined %}
HOOK1={{ debian_archive_hook1 }}
{% endif %}
{% if debian_archive_hook2 is defined %}
HOOK2={{ debian_archive_hook2 }}
{% endif %}
{% if debian_archive_hook3 is defined %}
HOOK3={{ debian_archive_hook3 }}
{% endif %}
{% if debian_archive_hook4 is defined %}
HOOK4={{ debian_archive_hook4 }}
{% endif %}
{% if debian_archive_hook5 is defined %}
HOOK5={{ debian_archive_hook5 }}
{% endif %}
