listen=YES
log_ftp_protocol=YES
xferlog_enable=YES
xferlog_std_format=NO
vsftpd_log_file=/var/log/vsftpd.log

anonymous_enable=YES
anon_mkdir_write_enable=NO
anon_other_write_enable=NO
anon_upload_enable=NO
anon_root={{ rsync_root }}

local_enable=YES
write_enable=YES

chroot_local_user=YES
userlist_enable=YES
userlist_file=/etc/ftpusers
userlist_deny=NO

pasv_min_port={{ ftp_pasv_min_port }}
pasv_max_port={{ ftp_pasv_max_port }}
