---
- name: Assert variables
  ansible.builtin.assert:
    that:
      - rsyncd_name is defined
      - rsyncd_path is defined
      - rsyncd_comment is defined

- name: "Update rsyncd module : {{ rsyncd_name }}"
  ansible.builtin.blockinfile:
    content: |
      [{{ rsyncd_name }}]
      path = {{ rsyncd_path }}
      comment = {{ rsyncd_comment }}
    path: /etc/rsyncd.conf
    append_newline: true
    prepend_newline: true
    marker: "# {mark} {{ rsyncd_name }}"
