use chroot = yes
pid file = /tmp/rsyncd.pid
lock file = /tmp/rsyncd.lck
log file = {{ rsync_log_file }}
motd file = {{ rsync_motd_file }}
refuse options = checksum compress
dont compress = *
ignore errors = no
ignore nonreadable = yes
transfer logging = yes
log format = %t %a %m %f %b
syslog facility = local3
socket options = SO_SNDBUF=1048576 SO_RCVBUF=1048576 TCP_NODELAY IPTOS_THROUGHPUT

[mirror]
    path = {{ rsync_root }}
    comment = Mirrors
    read only = yes
    list = yes
