{% if ubuntu_email is defined %}
EMAIL="{{ ubuntu_email }}"
{% endif %}
{% if ubuntu_hostname is defined %}
HOSTNAME="{{ ubuntu_hostname }}"
{% endif %}
{% if ubuntu_speed is defined %}
SPEED="{{ ubuntu_speed }}"
{% endif %}
{% if ubuntu_io_timeout is defined %}
IO_TIMEOUT="{{ ubuntu_io_timeout }}"
{% endif %}
{% if ubuntu_ipv6 is defined %}
IPV6="{{ ubuntu_ipv6 }}"
{% endif %}
{% if ubuntu_archive_dir is defined %}
UBUARC_DIR="{{ ubuntu_archive_dir }}"
{% endif %}
{% if ubuntu_cdimage_dir is defined %}
UBUCDI_DIR="{{ ubuntu_cdimage_dir }}"
{% endif %}
{% if ubuntu_release_mirror is defined %}
UBUREL_DIR="{{ ubuntu_release_dir }}"
{% endif %}
{% if ubuntu_ports_mirror is defined %}
UBUPOR_DIR="{{ ubuntu_ports_dir }}"
{% endif %}
{% if ubuntu_cloudimage_dir is defined %}
UBUCLOUD_DIR="{{ ubuntu_cloudimage_dir }}"
{% endif %}
{% if ubuntu_logdir is defined %}
LOGDIR="{{ ubuntu_logdir }}"
{% endif %}
{% if ubuntu_archive_mirror is defined %}
UBUARC_MIRROR="{{ ubuntu_archive_mirror }}"
{% endif %}
{% if ubuntu_cdimage_mirror is defined %}
UBUCDI_MIRROR="{{ ubuntu_cdimage_mirror }}"
{% endif %}
{% if ubuntu_release_mirror is defined %}
UBUREL_MIRROR="{{ ubuntu_release_mirror }}"
{% endif %}
{% if ubuntu_ports_mirror is defined %}
UBUPOR_MIRROR="{{ ubuntu_ports_mirror }}"
{% endif %}
{% if ubuntu_cloudimage_mirror is defined %}
UBUCLOUD_MIRROR="{{ ubuntu_cloudimage_mirror }}"
{% endif %}
{% if ubuntu_archive_exclude is defined %}
UBUARC_EXCLUDE="{{ ubuntu_archive_exclude }}"
{% endif %}
{% if ubuntu_cdimage_exclude is defined %}
UBUCDI_EXCLUDE="{{ ubuntu_cdimage_exclude }}"
{% endif %}
{% if ubuntu_release_exclude is defined %}
UBUREL_EXCLUDE="{{ ubuntu_release_exclude }}"
{% endif %}
{% if ubuntu_ports_exclude is defined %}
UBUPOR_EXCLUDE="{{ ubuntu_ports_exclude }}"
{% endif %}
{% if ubuntu_cloudimage_exclude is defined %}
UBUCLOUD_EXCLUDE="{{ ubuntu_cloudimage_exclude }}"
{% endif %}
